body{
	SCROLLBAR-FACE-COLOR: #ececec;
	SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2;
	SCROLLBAR-SHADOW-COLOR: #c2c2c2;
	SCROLLBAR-3DLIGHT-COLOR: #ececec;
	SCROLLBAR-ARROW-COLOR: #3A87A3;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ececec;
	SCROLLBAR-BASE-COLOR: #ffffff
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	font-family: Tahoma;
	font-size: 11px;
	line-height: 13px;
	color: #595959;
	background-attachment: fixed;
}

.test{
	
	color:red;
}

.topmenu_pad{
	padding:30 0 0 17;
	float:left;
}
#act{ float:left;}
.act_1 { display:none}
.act_2 { height:26px; padding-top:6px;} 
.menu_bg .act_1  { display: inline }
.menu_bg .act_2{ background:url(images/act_mid.gif) top left repeat-x; padding-left:5px; padding-right:5px; 
   text-align: center;
   
}
.menu_bg a.navigation{
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
}
#navigation{
}

a.navigation{
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}
a.navigation:hover{
}
div.comment_list{/*отзывы*/
	margin-top: 12px;
	margin-bottom: 12px;
	BORDER: #1f1f1d 1px dashed; 
	PADDING: 5px;
}

div.comment_user{
	padding: 3px;
	background: #efefef;
	color: #000;
}

div.comment_user a{
	color: #000;
}

div.opros{
    float: left;
    background: #BD9FA9;
    height: 10px;
    background-repeat: no-repeat;
}

a.activ_catalog{
	background: #1f1f1d;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
}


td{
	font-size: 11px;
}

a{
	color: #0c7fae;
	text-decoration:underline;
	font-size:11px;
}
a:hover{
	text-decoration:none;
}

a.standart{
	color: #000000;
}
div.page_catalog{/*Каталог страниц*/
	margin-top: 20px;
}

div.page_catalog a{/*Каталог страниц*/
	color: #1f1f1d;
   font-weight: bolder;
	font-size: 13px;
}

div.product_odnotip td,div.product_odnotip td a  {
	font-size: 11px;
	color: #1f1f1d;
}

table.standart td{
	font-size: 11px;
	color: #696969;
}


div.gbook_otvet{/*ответ на отзыв*/
	margin-top: 10px;
	background-color: #F6FAFD;
	margin-bottom: 10px;
	BORDER: #010101 1px dashed; 
	PADDING: 5px; 
}
div.pod_cart td a,div.pod_cart td{
}


div.product_cart a{
}


td.panel_l{ /*Раскла в 2 колонки левая колонка*/
}

td.panel_r{ /*Раскла в 2 колонки правая колонка*/
	padding-left:11px;
}

div.product_forma_1{
	font-size: 12px;
	background-repeat: repeat-x;
	width: 100%;
	clear:both;
}

div.textblock_bg{
	padding-top:5px;
	padding-bottom:5px;
	background-color: #FFFFFF;
}

div.line{
	/*Разделитель новостей*/
	width: 100%;
	border-top:1px solid #e9e9e9;
	height:22px;
	margin-top:22px;
}
div.line_2{
	width: 100%;
	border-bottom:1px solid #e9e9e9;
	height:22px;
	margin-bottom:7px;
}
div.line_3{
	width: 170px;
	border-bottom:1px dotted #ccc;
	height:17px;
	margin-bottom:9px;
	margin-left:10px;
}
div.line_4{
	/*Разделитель новостей*/
	height:50px;
}
.mininews{
	margin-top:-8px;
}
div.news_date{/*Новости*/
	float:left;
	color:#9c9c9c;
	padding:1 12 0 0;
	*padding:1 9 0 0;
}

div.news_tema{/*Новости*/
	padding-bottom:15px;
}
div.news_tema a{
}
div.news_kratko{
	color:#000;
}
ul{
	list-style-type: square;
}

ul.catalog{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
li.podcatalog{
	/*Бег каталога*/
}
li.podcatalog_page{
	/*Бег каталога*/
}
li.catalog{
	/*Бег каталога*/
	width: 192px;
	cursor: pointer;
}
li.catalog div{
	padding-left: 16px;
	padding-bottom:10px;
}
li.catalog strong{
	line-height: 30px;
	text-decoration: none;
	padding-left: 19px;
	*padding-left: 20px;
	font-weight:normal;
	text-transform:uppercase;
	color:#5b5b5b;
}
li.catalog a{
	line-height: 30px;
	text-decoration: none;
	padding-left: 0px;
	text-transform:uppercase;
	color:#5b5b5b;
}
li.catalog a:hover{
	text-decoration: none;
}
li.catalog_page{
	/*Бег каталога*/
	width: 153px;
	cursor: pointer;
	border-bottom:1px solid #dcdcdc;
	margin-left:18px;
	*margin-left:19px;
	margin-right:18px;
	padding-top:8px;
	padding-bottom:8px;
}
li.catalog_page strong{
	text-decoration: none;
	font-weight:normal;
	text-transform:uppercase;
	color:#5b5b5b;
}

li.catalog_page a{
	text-decoration: none;
	text-transform:uppercase;
	color:#5b5b5b;
}
li.catalog_page div{
	padding-top:8px;
	padding-bottom:14px;
}
li.catalog_page a:hover{
	text-decoration: none;
}
li.podcatalog a{
	color:#595959;
	line-height: 18px;
	text-decoration: underline;
	text-transform:none;
}
li.podcatalog_page a{
	color:#595959;
	line-height: 18px;
	text-decoration: underline;
	text-transform:none;
	padding-left:16px;
	*padding-left:15px;
}
#catalog_footer{
	background:url(images/catalog_footer.gif) top left no-repeat;
	height:23px;
}
div.opros_footer{
	/*Левый блок голосование низ*/
   
	background-color: #D2E5EC;
	background-repeat: repeat-x;
	margin-top: 2px;
	height: 7px;
	margin-top:1px;
}

div.opros_bg{
	/*Левый блок голосование бег*/
	background-image: url(images/left_opros_bg.jpg);
	background-repeat: repeat-x;
	margin-top: 1px;
	color: FFFFFF;
	padding: 15px;
}

div.opros_bg td{
	color: FFFFFF;
	font-size: 11px;
}

div.plashka_center{ /*Центрблок плашка*/
	font-size:1.6em;
	color:#e96e00;
	text-transform:uppercase;
	padding-top:17px;
	line-height:22px;
	padding-bottom:12px;
}
div.plashka_center_2{ /*Центрблок плашка*/
	font-size:1.6em;
	color:#e96e00;
	text-transform:uppercase;
	padding-top:21px;
	padding-bottom:4px;
}
.plashka_center_link{
	float:right;
	margin-top:-29px;
	padding-right:7px;
	padding-bottom:20px;
}
.plashka_center_link_2{
	float:left;
	margin-top:-29px;
	padding:0 0 0 100;
}
.plashka_center_link_3{
	float:right;
	margin-top:-32px;
	padding-right:19px;
}
.plashka_center_link_2 span{
	padding-left:27px;
}
div.plashka{ /*Левый блок плашка*/
	background-image: url(images/left_plashka_bg.jpg);
	background-repeat: no-repeat;
	height: 41px;
}

div.plashka_zag{ /*Левый блок плашка заглавие*/
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:12px;
}
div.plashka_zag_2{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:18px;
	padding-top:14px;
	padding-bottom:12px;
}
div.plashka_zag_3{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:19px;
}
div.plashka_zag_4{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:14px;
	padding-top:9px;
	padding-bottom:19px;
}
div.plashka_zag_5{
	font-size:2.4em;
	text-transform:uppercase;
	font-weight:normal;
	padding:0 0 13 0;
	margin:0 0 0 0;
	line-height:30px;
}
.name a{
	font-size:2.4em;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:normal;
	padding:0 0 13 0;
	margin:0 0 0 0;
	line-height:30px;
	color:#595959;
}
.servername{
	padding-left:6px;
}
.descript{
	padding:9 0 0 0;
}
div.cloud h1{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:12px;
}
div.left_search_bg td{/*Шапка авторизация пользователей*/
	color: FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

div.left_search_bg{ /*Левый блок поиска*/
	background-image: url(images/left_search_bg.jpg);
	background-repeat: repeat-x;
	height: 77px;
	padding-left:10px;
	padding-top:0px;
}
#leftmenu{
	padding-top:30px;
	height:134px;
	*height:162px;
}
#search{
	background:url(images/bg_search.gif) top left no-repeat;
	height:27px;
	padding:3 10 0 6;
}
#search div{
	padding-top:6px;
}
#search_but{
	vertical-align:bottom;
	*margin-bottom:3px;
}
input.search{
	width:257px;
	height:19px;
	border:none;
	background:none;
	padding:3 0 0 2;
	cursor:text;
}
input.sort{
	width:81px;
	height:19px;
	border-top:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-bottom:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
	background:#fff;
	padding:1 0 0 2;
	cursor:text;
}
#user_but{
	vertical-align:top;
	*margin-top:1px;
}
.user_error{
	color:#f44b00;
}

a.small{
	color: FFFFFF;
	font-size: 9px;
	font-weight: normal;
}
small a {
	font-size:9px;
}

div.header_phpshop_slogan{ /*Слоган*/
   width: 300px;
	float: left;
	color: FFFFFF;
}

div.header_phpshop_slogan H1{ /*Слоган название компании*/
	color: #2D87A2;
	font-size: 15px;
}

div.header_phpshop_slogan a{ /*Слоган ссылка*/
	color: #79B5C0;
	font-size: 12px;
}

img.icon{/*Логотип иконки*/
	margin-top:20px;
	margin-left:60px;
}

div.header_phpshop_logo{ /*Логотип*/
	width: 182px;
	height: 54px;
	
	/*background-image: url(images/phpshop_logo.png);
	background-repeat: no-repeat;*/
	margin-left:40px;
	margin-right:40px;
	float: left;
}

div.header_nav_bg{ /*Фоновая картинка в шапке навигация*/
	width: 100%;
	height: 51px;
	background-image: url(images/header_bg_nav.jpg);
	background-repeat: repeat-x;
	BORDER-TOP: #FFFFFF 1px solid;
}

div.header_nav_bg a{ /*Основная навигаци в шапке*/
	color: FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	
}
div.header_nav_bg a:hover{ /*Основная навигаци в шапке*/
	color: #EDF5F8;
   text-decoration: none;
}
div.header_nav{
	float: left;
	padding-top:9px;
	padding-left:31px;
}
div.header_nav a{
	color:#ffffff;
}

div.header_nav_line{/*Разделитель в навигации*/
	width: 4px;
	height: 51px;
	background-image: url(images/header_bg_nav_line.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-left:10px;
	margin-right:10px;
}

div.header_bg_2_up_compare{

	float: left;
	color: #62ACC7;
	height: 51px;
	font-weight: bold;
	padding-top:20px;
	padding-left:50px;
}
div.header_bg_2_up{/*Фоновая картинка в шапке заглушка верхняя навигация*/
	width: 100%;
	height: 51px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_up.jpg);
	background-repeat: repeat-x;
}
div.header_bg_2_bg{/*Фоновая картинка в шапке заглушка*/
	width: 100%;
	height: 214px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_bg.jpg);
	background-repeat: repeat-x;
}
div.header_bg_2{/*Фоновая картинка в шапке*/
	width: 1004px;
	height: 214px;
	background-image: url(images/header_bg_1.jpg);
	background-repeat: no-repeat;
	padding-top:0px;
}

div.header_bg_2_bg_shop{/*Фоновая картинка в шапке заглушка*/
	width: 100%;
	height: 180px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_bg.jpg);
	background-repeat: repeat-x;
}

div.header_bg_2_shop{/*Фоновая картинка в шапке */
	width: 1004px;
	height: 180px;
	background-image: url(images/header_bg_1.jpg);
	background-repeat: no-repeat;
	padding-top:0px;
}

#main{
	margin:6px;
}

#left_block{
	PADDING-RIGHT: 20px; PADDING-LEFT: 40px; LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 190px; PADDING-TOP: 7px; margin:-7 0 0 0; position:relative;
}
#center_block{
 MARGIN-LEFT: 250px; MARGIN-RIGHT: 250px;  PADDING-BOTTOM: 35px;
}
#right_block{
	float: left;
	width: 218px;
}
#footer_block{
	background-image: url(images/footer_bg.jpg);
	background-repeat: repeat-x;
	height: 113px;
	width: 100%;
	float: left;
	margin-top:20px;
}

#footer_tel{
	padding-top: 30px;
	padding-left: 30px;
	width: 250px;
	float: left;
	color: FFFFFF;
}
#footer_tel H3{
  font-size: 15px;
}
#footer_cart{
	background-image: url(images/footer_cart.jpg);
	background-repeat: no-repeat;
	height: 113px;
	width: 116px;
	float: left;
}

#footer_copyright{
	height: 113px;
	padding-left: 50px;
	color: FFFFFF;
}

#footer_copyright a{
	color: FFFFFF;
}


div.page_nava{
	padding:6 0 0 0;
	color:#000;
}

div.page_nava div{
}



div.page_nava a{
}

td.setka{
}

#allspec{
	padding:8 0 6 0;
}


#allspec div {
}
.allspec_pad{
	padding-left:17px;
	padding-top:6px;
}
a.link{
}
.link_prise{
	padding:6 0 0 0;
	*padding 0 0 0 0;
	text-align:right;
}
#allspec a{
}
#allspec input, #allspec td select {
	font-size: 10px;
}


#allspecwhite{
	margin-top: 10px;
	margin-bottom: 10px;
	BORDER: #0c7fae 1px dashed; 
    PADDING: 5px; 
}

.sortActiv{
	background-color:#dadada;
	color:#2a2a2a;
	text-decoration:none;
	padding:2 4 2 4;
}


form
{
    margin:0px;
}


H1{
	font-size:1.7em;
	color:#383838;
	text-transform:uppercase;
	font-weight:normal;
}
H2{
	font-size:1.5em;
	color:#383838;
	text-transform:uppercase;
	font-weight:normal;
}
input.ok{
}

input, select{
	font-size: 11px;
}

input.but{
   font-size: 11px;
   height: 22px;
   border-style: solid;
   border-color: #395200;
   border-width: 1px;
   background-color: white;
   color:#4b4b4b;
}

.sort_name_bg{
	color: #000000;
}
.sort_table{
	font-size: 11px;
	background-color: White;
	color: #1f1f1d;
}
.sort_table b{
	color: #696969;
}
#all{
	width:971px;
	margin:0 auto;
	text-align:left;
}
.bg_all{
	background-color:#0189c5;
}
#bg_header{
	background:url(images/bg_header.jpg) top center no-repeat;
	text-align:center;
}
#header{
	background:url(images/header.jpg) top left no-repeat;
	height:228px;
	padding-left:36px;
	padding-right:500px;
	margin-bottom:12px;
}
.header_column{
	background:url(images/header_3.gif) top left no-repeat;
	float:left;
}
.header_column_2{
	background:url(images/header_2.gif) top left no-repeat;
	width:71%;
	height:166px;
	text-align:left;
	float:right;
}
*html .header_column_2{
	background:url(images/header_2.gif) top left no-repeat;
	width:71%;
	height:196px;
	text-align:left;
	float:right;
}
#content{
	background:url(images/content_1.gif) #fff top left no-repeat;
	FLOAT: left;
	WIDTH: 971px;
	position:relative;
}
#content_2{
	background:url(images/content_2.gif) #fff bottom left no-repeat;
	FLOAT: left;
	WIDTH: 971px;
	height:26px;
	position:relative;
}
#cart{
	padding-left:19px;
	padding-right:19px;
	color:#000;
}
#cart a{
	color:#ff7300;
}
.left{
	float:left;
	white-space:nowrap;
}
.num{
	font-weight:bold;
	display:inline;
	white-space:nowrap;
	float:right;
}
.sum{
	font-weight:bold;
	white-space:nowrap;
	float:right;
}
.order{
	padding-top:2px;
}
.valuta{
	float:right;
	margin-top:-2px;
	position:relative;
}
#logo{
	padding:36 0 0 77;
}
#descrip{
	width:329;
	padding:3 0 0 0;
	text-align:center;
}
#telnum{
	padding:6 474 0 0;
	text-align:right;
	font-size:1.4em;
	width:71%;
	float:right;
}
.telnum_2{	
	color:#84c225;
}
.telnum_3{
	color:#fecb0a;
}
.telnum_footer{
	font-size:12px;
}
#topmenu{
	height:85px;
}
#left {
	FLOAT: left;
	WIDTH:192px;
	position:relative;
	padding-left:17px;
}
#center {
	MARGIN-LEFT: 227px;
	MARGIN-RIGHT: 227px;
}
#right {
	FLOAT: right;
	WIDTH:227px;
	position:relative;
}
*html #left {
	WIDTH:192px;
	FLOAT: left;
	padding-left:17px;
}
*html #center {
	height:0;
	MARGIN-LEFT: 224px;
	MARGIN-RIGHT: 224px;
	padding-top:1px;
}
*html #right {
	FLOAT: right;
	WIDTH:225px;
	position:relative;
}
#right_footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; FLOAT: right; WIDTH: 255px; PADDING-TOP: 0px;
}
*html #right_footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; FLOAT: right; WIDTH: 255px; PADDING-TOP: 0px;
}
#footer{
	color:#fff;
	clear:both;
	padding:26 0 0 25;
}
#footer a{
	color:#ffea00;
}
#footer span{
	color:#22aeec;
	padding-left:8px;
	padding-right:8px;
}
#footer_bottom{
	margin-top:-20px;
	background-color:#73bd1e;
	color:#ffffff;
}
#footer_link{
	text-align:center;
}
.right_footer{
	text-align:right;
}
.left_footer{
}
.left_footer a{
	padding:0 10 0 0;
}
.pad_1{
	padding-left:36px;
}
.pad_2{
	padding-top:10px;
}
.pad_3{
	padding-left:6px;
}
.pad_4{
	padding-top:8px;
}
.pad_5{
	padding-top:12px;
}
.pad_6{
	padding-top:3px;
}
.pad_6 span{
	padding-left:33px;
	*padding-left:30px;
}
.pad_7{
	padding-left:126px;
}
.pad_8{
	padding-top:11px;
	*padding-top:6px;
}
.pad_9{
	padding-top:7px;
}
.pad_10{
	padding-right:19px;
}
.pad_11{
	padding-top:4px;
}
#vote{
	padding:10 0 3 19;
	font-weight:bold;
	color:#000;
}
#vote_2{
}
#vote_3{
	text-align:center;
}
#vote_input{
	padding:4 0 4 13;
	vertical-align:top;
	color:#000;
}
#vote_input span{
	vertical-align:top;
	line-height:21px;
	height:21px;
}
#vote_content{
	padding:6 0 6 0;
}
.img_cart{
	margin:0 0 0 0;
}
*html .img_cart{
	margin:0 0 -2 0;
}
.img_cart_2{
	margin:0 0 0 0;
	width:56px;
}

.zag{
	font-size:1.7em;
	color:#f44b00;
}
.zag_2{
	font-size:1.5em;
	color:#f44b00;
}
div.add_cart{
	float:right;
}
.foto img{
	width:96px;
}
#opinion{
	float:left;
	clear:none;
}
*html #opinion{
	float:none;
	clear:both;
}
#bg_nav_1{
	background:url(images/bg_nav_1.gif) no-repeat;
	background-position:0 0;
	padding-top:5px;
	margin-top:34px;
}
.bg_nav_1{
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
}
#bg_nav_2{
	background:url(images/bg_nav_2.gif) top left no-repeat;
	width:192px;
	height:12px;
}
#bg_nav_1_2{
	background:url(images/bg_nav_1_2.gif) no-repeat;
	background-position:0 0;
	padding-top:5px;
	margin-top:15px;
	width:192px;
}
.bg_nav_1_2{
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	width:190px;
	*width:192px;
}
#bg_nav_2_2{
	background:url(images/bg_nav_2_2.gif) top left no-repeat;
	width:192px;
	height:12px;
}
.specmain{
	float:right;
	padding-right:19px;
}
.banner{
	text-align:center;
}
.leftmenu_name{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:5px;
	*padding-bottom:0px;
	line-height:20px;
}
.leftmenu_cont{
	padding-left:19px;
}
.bg_sort{
	background:url(images/bg_sort.gif) top left no-repeat;
	color:#000;
	height:75px;
}
.bg_product_forma_full{
	background:url(images/bg_product_forma_full.gif) top left no-repeat;
	color:#000;
	height:55px;
}
.bg_sort a{
}
.page_nav{
	font-weight:bold;
	color:#b0b0b0;
	padding:10 0 10 17;
}
.page_nav_2{
	background:url(images/page_nav.gif) top left no-repeat;
	height:35px;
	padding:10 0 10 17;
	font-weight:bold;
	color:#b0b0b0;
}
.vendordisp{
}
.vendordisp select{
	margin-top:4px;
}
