<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.3</version>
    <name>Stat</name>
    <description>Модуль статистики посещений.</description>
    <base>7</base>
    <icon>icon.png</icon>
    <adminmenu>
        <title>Stat</title>
        <podmenu>
            <podmenu_name>Visitors Report</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:window.location.replace('?plugin=stat')</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Настройка Stat</podmenu_name>
            <podmenu_icon>option.gif</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/stat/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
        <menu>
            <menu_name>Visitors Report</menu_name>
            <menu_icon>icon.png</menu_icon>
            <menu_action>window.location.replace('?plugin=stat')</menu_action>
        </menu>
    </adminmenu>
</module>