<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.8</version>
    <name>Cart</name>
    <description>Модуль корзины покупок для приема заказов.</description>
    <icon>icon.gif</icon>
    <base>1</base>
    <adminmenu>
        <title>Cart</title>
        <podmenu>
            <podmenu_name>Настройка Cart</podmenu_name>
            <podmenu_icon>icon.gif</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/cart/admpanel/adm_module.php',550,500);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>