div.opros {
	float: left;
	background: #B90000;
	height: 10px;
	background-repeat: no-repeat;
}
.buttonheading {
	padding:10px 0px 0px 0px;
	border-bottom:1px solid #B90000
}
.contentpaneopen .plashka_zag {
	padding:0px 0px 1px 0px;
	font-weight:bold;
	color: #B90000;
	text-transform: uppercase;
	border-bottom:1px solid #B90000;
}
.button {
	width:88px;
	height:21px;
	background:url(images/button.gif);
	border:none;
	color:#fff;
	margin:15px 0px 10px 0px;
	vertical-align:middle;
	padding:0px 0px 0px 0px;
	text-align:center;
	font-size:11px !important;
	font-weight:bold;
	display:inline;
}
.sectiontableentry2_s3 {
	padding:2px 0px 5px 0px !important;
}
div#right .moduletable2 {
	margin-bottom: 15px;
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #585858;
	background-color: #f2f2f2;
	border: 1px solid #cbcbcb;
	padding: 5px;
}
h1 {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 18px;
	color: #585858;
}
div#ja-leftcol ul {
	margin: 0px;
	margin-left: 15px;
	padding: 0px;
	list-style-type: none;
}
/**************************************************/
/************/
/************Каталог для шаблонов catalog_forma...**/
.catalog_rs {
	padding-left: 3px;
	padding-bottom: 5px;
}
.catalog_rs_text {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #838383;
	text-decoration:underline;
	cursor: pointer;
}
.catalog_rs_text a strong {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #838383;
	text-decoration:underline;
	cursor: pointer;
}
.catalog_rs_text a:link {
	text-decoration:underline;
}
.catalog_rs_text a:visited {
	text-decoration:underline;
}
.catalog_rs_text a:hover {
	text-decoration:underline;
}
.catalog_rs_text a:active {
	text-decoration:underline;
}
/************/
.podcatalog_rs {
	margin-left: 15px;
}
.podcatalog_rs_text {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #B90000;
}
.podcatalog_rs_text a {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #B90000;
	text-decoration: underline;
}
.podcatalog_rs_text a:link {
	text-decoration: underline;
}
.podcatalog_rs_text a:visited {
	text-decoration: underline;
}
.podcatalog_rs_text a:hover {
	text-decoration: none;
}
.podcatalog_rs_text a:active {
	text-decoration: underline;
}
/************/
/************Каталог для шаблонов catalog_page... и catalog_foto...**/
.catalog_rs_foto {
	padding-left: 3px;
	padding-bottom: 5px;
}
.catalog_rs_text_foto {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #838383;
	text-decoration:underline;
	cursor: pointer;
}
.catalog_rs_text_foto a strong {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #838383;
	text-decoration:underline;
	cursor: pointer;
}
.catalog_rs_text_foto a:link {
	text-decoration:underline;
}
.catalog_rs_text_foto a:visited {
	text-decoration:underline;
}
.catalog_rs_text_foto a:hover {
	text-decoration:underline;
}
.catalog_rs_text_foto a:active {
	text-decoration:underline;
}
/************/
.podcatalog_rs_foto {
	margin-left: 15px;
}
.podcatalog_rs_text_foto {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #B90000;
}
.podcatalog_rs_text_foto a {
	font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #B90000;
	text-decoration: underline;
}
.podcatalog_rs_text_foto a:link {
	text-decoration: underline;
}
.podcatalog_rs_text_foto a:visited {
	text-decoration: underline;
}
.podcatalog_rs_text_foto a:hover {
	text-decoration: none;
}
.podcatalog_rs_text_foto a:active {
	text-decoration: underline;
}
.brbr {
	line-height:5px;
}
table {
	font-size: 12px;
}
.inputbox2 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #818181;
	border: 1px solid #3A3A3A;
	width: 82px;
}
div#ja-leftcol .moduletable form select {
	width: 150px;
	display:block;
	margin-bottom: 10px;
}
.moduletable strong {
	font-family: Tahoma, Arial;
	font-size: 11px;
	display:block;
	font-weight:bold;
	clear: left;
}
.news_tema, .news_tema a{
	color: #B90000;
}
.line{
	width: 100%;
	clear: both;
	height: 16px;
}