<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.0</version>
    <name>Users</name>
    <description>Модуль личного кабинета пользователей.</description>
    <icon>icon.png</icon>
    <base>23</base>
    <adminmenu>
        <title>Users</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>option.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/users/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Пользователи</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:window.location.replace('?plugin=users')</podmenu_action>
        </podmenu>
        <menu>
            <menu_name>Пользователи</menu_name>
            <menu_icon>icon.png</menu_icon>
            <menu_action>window.location.replace('?plugin=users')</menu_action>
        </menu>
    </adminmenu>
</module>